#btn-withdraw {
  height: "60px";
  font-size: "22px";
  color: "white";
  width: "250px";
  margin-left: "20px";
  font-weight: "bold";
  background: "linear-gradient(100deg; #4b4a4a 0%; #171717";
  border: "none";
}
